* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: center;
    color: white;
    min-height: 100vh;
    background-color: darkblue;
    padding-top: 20px;
  }

  h2 {
    color: red;
    padding-top: 20px;
  }